<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<title>Addcourse</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 class="text-center">Muokkaa</h2>
	<div>
		<form th:object="${course}" th:action="@{../save}" action="#"
			method="post">
			<div class="row">
				<div class="col-md-4 mx-auto">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<label for="person">Pelaaja</label> <input type="text"
									name="person" required th:field="*{person}"
									class="form-control"> <label for="person">Rata</label>
								<input type="text" name="course" required th:field="*{name}"
									class="form-control"> <label for="person">Par</label> <input
									type="text" name="par" required th:field="*{par}"
									class="form-control"> <label for="person">Päivä</label>
								<input type="date" name="date" required th:field="*{date}"
									class="form-control"> <label for="person">Tulos</label>
								<input type="text" name="result" required th:field="*{result}"
									class="form-control"> <br> <input type="submit"
									value="Lähetä" class="btn btn-primary"></input> <a
									class="btn btn-success" href="/courselist">Tuloslista</a>
							</div>
						</div>
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}">
		</form>
	</div>

</body>
</html>